In [1]:
import numpy as np

import pandas as pd

In [2]:
from pandas import Series,DataFrame

In [5]:
# 创建
# Series是一维的数据
s = Series(data=[120,136,128,99], index=['Math','Python','En','Chinese'])
s

Math       120
Python     136
En         128
Chinese     99
dtype: int64

In [6]:
s.shape

(4,)

In [7]:
v = s.values
v

array([120, 136, 128,  99])

In [8]:
type(v)

numpy.ndarray

In [9]:
s.mean()

120.75

In [10]:
s.max()

136

In [11]:
s.std()

15.903353943953666

In [20]:
s.add(1)
s

Math       122
Python     138
En         130
Chinese    101
dtype: int64

In [21]:
# DataFrame是二维的数据
# excel就非常相似
# 所有进行数据分析，数据挖掘的工具最基础的结果：行和列，行表示样本，列表示的是属性
df = DataFrame(data=np.random.randint(0, 150, size=(10, 3)), index=list('abcdefhijk'), columns=['Python', 'En', 'Math'])
df

   Python   En  Math
a     109  120    23
b      54   39    54
c      97   22   106
d      21   96     3
e      23  145   147
f      80   62    83
h      70   31   134
i     132   51   115
j      95  143   111
k      66   94     7

In [13]:
df.shape

(10, 3)

In [15]:
v = df.values
v

array([[113, 116,  75],
       [ 19, 145,  23],
       [ 57, 107, 113],
       [ 95,   3,  66],
       [ 28, 121, 120],
       [141,  85, 132],
       [124,  39,  10],
       [ 80,  35,  17],
       [ 68,  99,  31],
       [ 74,  12,  11]])

In [16]:
df.mean()

Python    79.9
En        76.2
Math      59.8
dtype: float64

In [17]:
df.max()

Python    141
En        145
Math      132
dtype: int32

In [18]:
df

   Python   En  Math
a     113  116    75
b      19  145    23
c      57  107   113
d      95    3    66
e      28  121   120
f     141   85   132
h     124   39    10
i      80   35    17
j      68   99    31
k      74   12    11

In [22]:
df.mean(axis=0)

Python    74.7
En        80.3
Math      78.3
dtype: float64

In [23]:
df.mean(axis=1)

a     84.000000
b     49.000000
c     75.000000
d     40.000000
e    105.000000
f     75.000000
h     78.333333
i     99.333333
j    116.333333
k     55.666667
dtype: float64